.ihm-1 {
    color:#FFFFFF;
    background-color: #CC0000;
}

.ihm-2 {
    color:#FFFFFF;
    background-color: #FFAC00;
}

.ihm-3 {
    color:#FFFFFF;
    background-color: #32CD32;
}

.ihm-4 {
    color: #000000;
    background-color: #FFFFFF;
}

.ihm-loading {
    color: #DCDCDC;
    background-color: #FFFFFF;
    text-align: center;
}
